<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JabberEmoticons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <JabberEmoticons.Properties.Settings>
            <setting name="UpdateEmoticonsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddEmoticonsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateProgramEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuitProgramEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateEmoticons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateEmoticonInterval" serializeAs="String">
                <value>900000</value>
            </setting>
            <setting name="AutoCheckForUpdatesInterval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="SettingsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </JabberEmoticons.Properties.Settings>
    </userSettings>
</configuration>